<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: myHead">

</head>

<body>

	<div th:replace="fragments/navBar">navBar</div>

	<div class="container" style="margin-top: 30px">
		<h1>Vegetable List</h1>
		<br>

		<table class="table-bordered table">
			<thead>
				<tr class="bg-success text-white">
					<th>ID</th>
					<th>Vegetable</th>
				</tr>
			</thead>
			<tr th:each="vegetable : ${vegetables}">
				<td th:text="${vegetable.id}">?</td>
				<td th:text="${vegetable.name}">?</td>
			</tr>
		</table>

		<a th:href="@{/getPdfVegetableList}">
			<button id="downloadButton" type="button" class="btn btn-success btn btn-outline-white">
				Download Vegetable List</button>
		</a>
	</div>
</body>
</html>